.caption {
    text-align: center;
    font-weight: bold;
}

img {
    max-width: 100%;   /* 图片最大宽度不超过父容器宽度 */
    max-height: 100%;  /* 图片最大高度不超过父容器高度 */
    height: auto;      /* 等比例缩放 */
    width: auto;       /* 等比例缩放 */
    display: block;    /* 防止图片有额外的空白间距 */
    margin: 0 auto;    /* 居中对齐（如果需要） */
}

.video-container {
    display: grid;
    grid-template-columns: 0.3fr repeat(3, 1.2fr); /* 第一列用于行标题，后面是 3 列视频 */
    grid-template-rows: auto repeat(2, 1.2fr); /* 第一行用于列标题，后面是 2 行视频 */
    gap: 10px;
    padding: 10px;
    text-align: center;
}

/* 标题样式 */
.col-title, .row-title {
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 8px;
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
}

/* 视频样式 */
.video-container video {
    width: 100%;
    border-radius: 8px;
}



.new-video-container {
    display: grid;
    grid-template-columns: repeat(2, 1.2fr); /* 第一列用于行标题，后面是 3 列视频 */
    grid-template-rows: auto 1.2fr; /* 第一行用于列标题，后面是 2 行视频 */
    gap: 10px;
    padding: 10px;
    text-align: center;
}
.new-video-container video {
    width: 100%;
    border-radius: 8px;
}